<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355153590205-t1m9f834btg5s7ln16kfi4hopamc8r53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355153590205-t1m9f834btg5s7ln16kfi4hopamc8r53</string>
	<key>API_KEY</key>
	<string>AIzaSyAfEkILibfqCV19V2JrJGbmfG17eRLmP4U</string>
	<key>GCM_SENDER_ID</key>
	<string>355153590205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memolease.sesac1</string>
	<key>PROJECT_ID</key>
	<string>sesac-1</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355153590205:ios:f593e8d5580ec9ad9e04d4</string>
</dict>
</plist>